<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CTRL_ALT_ELITE_GroupProject.Properties.Settings.SportsConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Sports.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>